* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0%;
  margin: 0%;
}
/* main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: lightsalmon;
} */
.danger {
  background-color: rgb(255 124 124);
  color: black;
  border: solid 1px red;
  padding: 20px;
  transition: 2s;
}

.success {
  background-color: rgb(148, 247, 139);
  color: black;
  border: solid 1px darkgreen;
  padding: 20px;
  transition: 2s;
}

.warning {
  background-color: rgb(255, 200, 80);
  color: black;
  border: solid 1px orange;
  padding: 20px;
  transition: 2s;
}

.information {
  background-color: rgb(108, 238, 255);
  color: black;
  border: solid 1px blue;
  padding: 20px;
  transition: 2s;
}
