* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0%;
  margin: 0%;
}
.mainIndex {
  align-items: center;
  display: flex;
  flex-direction: column;
}
ul {
  display: flex;
}
li {
  list-style: none;
  margin: 5px 5px;
}
.danger {
  background-color: rgb(255 124 124);
  color: black;
  border: solid 1px red;
  padding: 20px;
  transition: 2s;
}

.success {
  background-color: rgb(148, 247, 139);
  color: black;
  border: solid 1px darkgreen;
  padding: 20px;
  transition: 2s;
}

.warning {
  background-color: rgb(255, 200, 80);
  color: black;
  border: solid 1px orange;
  padding: 20px;
  transition: 2s;
}

.information {
  background-color: rgb(108, 238, 255);
  color: black;
  border: solid 1px blue;
  padding: 20px;
  transition: 2s;
}

.formDiv {
  background-color: lightblue;
  padding: 20px;
  width: 300px;
  min-height: 300px;
  border: black solid 1px;
}

.error {
  color: red;
}
.hide {
  display: none;
}
label {
  display: block;
}
input[type='text'],
input[type='email'],
input[type='password'] {
  width: 100%;
  height: 30px;
  border: solid 1px black;
  outline: none;
}
.submitBtn {
  display: block;
  margin-top: 15px;
  border: solid 1px black;
  width: 100%;
  padding: 10px;
  outline: none;
}

.submitBtn:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.animeCardContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 1650px;
}

.animeCard {
  width: 300px;
  min-height: 670px;
  border: blue 2px solid;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  position: relative;
}
.animeCard h2 {
  height: 70px;
}

.animeDiv {
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.animeUpperCard {
  display: flex;
}
.animeImg {
  width: 300px;
  margin-right: 5px;
}
.animeInfo {
  margin-left: 5px;
}
.animeDiv p {
  padding: 5px 0px;
}

.synopsis {
  width: 80%;
}

.animeCardImg {
  width: 100%;
  max-height: 450px;
}
.animeCardLink {
  width: 100%;
  background-color: lightblue;
  height: 40px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
}
a {
  text-decoration: none;
}
a:hover {
  color: darkblue;
  font-weight: bold;
}

span {
  font-weight: 500;
}
